.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.topbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 5000;
  background: linear-gradient(
    to bottom,
    #5aa6ff 0%,
    #007bff 12%,
    #007bff 90%,
    #0022ff 100%
  );
}

.sidebar {
  position: fixed !important;
  top: 64px;
  left: 0;
  height: 100%;
  display: flex !important;
  align-content: flex-start !important;
  justify-content: flex-start !important;
  z-index: 2000;
  background: linear-gradient(
    to right,
    #007bff 0%,
    #007bff 95%,
    #0022ff 100%
  );
}

.container {
  margin-left: 13.5% !important;
  margin-top: 64px;
  padding-top: 5px;
  background-color: #f1f5ff;
}

.server-response {
  display: block;
  padding: 10px;
  border: 1px solid rgb(93, 91, 122); 
  border-radius: 10px;
  color: white;
  margin-top: 10%;
  width: 150px;
  text-align: center;
}

.Test h2 {
  font-weight: bold;
}

@keyframes newTestLoad {
  from {
    background-color: #ffffff;
    top: -500px;
  }
  to {
    background-color: #add8e6;
    top: 0px;
  }
}

.Test {
  padding: 10px;
  border-bottom: 2px solid gray;
  font-weight: bold;
  margin-bottom: 25px;
}

.Test label {
  padding-top: 5px;
  margin-bottom: 2px;
}

.GlobalTest label {
  padding-top: 5px;
  margin-bottom: 2px;
}

.Test input {
  margin-left: 10px;
  margin-right: 10px;
}

.GlobalTest input {
  margin-left: 10px;
  margin-right: 10px;
}

.TestElement {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.InputText {
  width: 40%;
}

.InputText-Name {
  width: 20%;
}

.GlobalTestDiv {
  border: 3px inset;
  border-radius: 10px;
  background-color: #adffd0;
  margin: 20px;
  padding: 10px;
}

.TestDiv {
  border: 3px inset;
  border-radius: 10px;
  position: relative;
  background-color: #add8e6;
  margin: 20px;
  padding: 10px;
}

.TestElementDiv {
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 5px;
}

.GeneralDiv {
  margin-left: 5%;
}

ul {
  list-style: none;
  padding-left: 2%;
}

@keyframes list-slide-in {
  from {
    opacity: 0;
    transform: translateX(10%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

li {
  animation-name: list-slide-in;
  animation-duration: 0.75s;
}

.dropdownListItem:hover {
  background-color: #007bdd !important;
  color: #ffffff !important;
}
