.topbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 2001;
  background: linear-gradient(
    to bottom,
    #5aa6ff 0%,
    #447bbb 12%,
    #447bbb 90%,
    #4422bb 100%
  );
}

.sidebar {
  position: fixed !important;
  left: 0;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  justify-content: space-between !important;
  z-index: 2000;
  background: linear-gradient(to right, #007bff 0%, #007bff 95%, #0022ff 100%);
}

.sidebar-upper {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sidebar-upper label {
  font-size: 36pt;
  text-shadow: -2px 2px 3px #000088;
}

.sidebar-middle {
  display: flex;
  flex-direction: column;
}

.sidebar-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  margin-left: 0px !important;
  height: 100%;
}

.main-content {
  margin-left: 135px;
  margin-bottom: 15px;
}

.server-response {
  display: block;
  padding: 10px;
  border: 1px solid rgb(93, 91, 122);
  border-radius: 10px;
  color: white;
  margin-top: 10%;
  width: 150px;
  text-align: center;
}

.server-response-error {
  background: #880000;

  animation-name: flash-error;
  animation-duration: 250ms;
}

.error-panel {
  border: 1px solid rgb(122, 91, 93);
  padding: 10px;
  border-radius: 10px;
  word-wrap: normal;
  width: 150px;
  text-align: center;
  background-color: #880000;
  animation-name: flash-error;
  animation-duration: 250ms;
}
@keyframes flash-error {
  0% {
    background-color: #880000;
  }
  50% {
    background-color: #ff8888;
  }
  100% {
    background-color: #880000;
  }
}

.Test h2 {
  font-weight: bold;
}

@keyframes newTestLoad {
  from {
    background-color: #ffffff;
    top: -500px;
  }
  to {
    background-color: #add8e6;
    top: 0px;
  }
}

.Test {
  padding: 10px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-left: 20px;
}

.Test label {
  padding-top: 5px;
  margin-bottom: 2px;
}

.testTransition-enter {
  height: 0px;
  overflow: hidden;
}
.testTransition-enter-active {
  height: 356px;
  overflow: hidden;
  transition: height 300ms;
}
.testTransition-exit {
  height: 356px;
}
.testTransition-exit-active {
  height: 0px;
  overflow: hidden;
  transition: height 500ms;
}
.GlobalTest label {
  padding-top: 5px;
  margin-bottom: 2px;
}

.Test input {
  margin-left: 10px;
  margin-right: 10px;
}

.GlobalTest input {
  margin-left: 10px;
  margin-right: 10px;
}

.TestElement {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.InputText {
  width: 40%;
}

.InputText-Name {
  width: 20%;
  font-size: 20px;
}

.InputText-UserID {
  width: 20%;
}

.GlobalTestDiv {
  background-color: #adffd0;
  border: 3px inset;
  margin: 0px 20px;
  margin-bottom: 0px;
  padding: 10px;
}

.TestDiv {
  border: 3px inset;
  border-radius: 10px;
  position: relative;
  background-color: #add8e6;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  top: -10px;
}

.TestElementDiv {
  border-radius: 10px;
  margin-top: 20px;
}

.GeneralDiv {
  border-top: 10px solid #0022ff;
  margin-left: 5%;
  background-color: #e99fa6f6;
  padding: 10px;
  margin: 0px 20px;
  padding-left: 30px;
  font-weight: bold;
}

.testElement-enter {
  height: 0px;
  overflow: hidden;
}
.testElement-enter-active {
  overflow: hidden;
  height: 47px;
  transition: height 300ms ease-in;
}
.testElement-exit {
  height: 47px;
  overflow: hidden;
}
.testElement-exit-active {
  overflow: hidden;
  height: 0px;
  transition: height 500ms ease-out;
}

.RemoveElementButton-Test {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
}

.AddElementButton-Test {
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-left: 5%;
  color: #fff;
}

.removeElementButton {
  border-radius: 15px !important;
}

.addElementButton {
  margin-left: 2%;
  border-radius: 15px !important;
}

ul {
  list-style: none;
  padding-left: 2%;
}

@keyframes list-reveal {
  from {
    height: 0;
    overflow-y: hidden;
  }
  to {
    height: 47px;
    overflow-y: hidden;
  }
}

li {
  max-height: 47px;
}

.dropdownListItem:nth-child(odd) {
  background: #eee;
}

.dropdownListItem:hover {
  background-color: #007bdd !important;
  color: #ffffff !important;
}
