.container {
  margin-left: 0px !important;
  height: 100%;
}

/*    SIDEBAR      */
.sidebar {
  position: fixed !important;
  left: 0;
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  justify-content: space-between !important;
  z-index: 2000;
  background: linear-gradient(to right, #007bff 0%, #007bff 95%, #0022ff 100%);
}

.sidebar-upper {
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.sidebar-upper label {
  font-size: 36pt;
  text-shadow: -2px 2px 3px #000088;
}

.server-response {
  display: block;
  padding: 10px;
  border: 1px solid rgb(93, 91, 122);
  border-radius: 10px;
  color: white;
  margin-top: 10%;
  width: 150px;
  text-align: center;
}

.server-response-error {
  background: #880000;

  animation-name: flash-error;
  animation-duration: 250ms;
}

.error-panel {
  border: 1px solid rgb(122, 91, 93);
  padding: 10px;
  border-radius: 10px;
  word-wrap: normal;
  width: 150px;
  text-align: center;
  background-color: #880000;
  animation-name: flash-error;
  animation-duration: 250ms;
}
@keyframes flash-error {
  0% {
    background-color: #880000;
    color: white;
  }
  50% {
    background-color: #ff8888;
    color: black;
  }
  100% {
    background-color: #880000;
    color: white;
  }
}

.sidebar-middle {
  display: flex;
  flex-direction: column;
}

.sidebar-lower {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*        MAIN SECTION        */
.main-content {
  margin-left: 135px;
}

/*      MAIN HEADER           */
.main-header {
  height: 60px;
  width: 100%;
  background-color: #002f99;
  border-bottom: 3px solid #000630;
  border-right: 3px solid #000630;
  border-radius: 0 0 10px 0;
  padding: 20px 30px 0px 0px;
  color: white;
  font: 20px "Palatino Linotype";
  text-align: right;
  vertical-align: text-bottom;
}

/*    General Configuration     */
.general-config-div {
  margin-left: 20px;
  padding: 10px;
  margin-left: 20px;
  padding-left: 30px;
  font-weight: bold;
}

/*    Global Test Configuration   */
.global-test-div {
  background-color: #adffd0;
  border: 3px inset;
  margin-left: 20px;
  margin-bottom: 0px;
  padding: 10px;
}

.global-test label {
  padding-top: 5px;
  margin-bottom: 2px;
}

.global-test input {
  margin-left: 10px;
}

/*    TEST SECTION      */
.test-div {
  border: 3px inset;
  border-radius: 10px;
  position: relative;
  background-color: #add8e6;
  margin-left: 20px;
  margin-top: 0;
  padding: 10px;
  top: -10px;
}
.test {
  padding: 10px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-left: 20px;
}

.test h2 {
  font-weight: bold;
}
.test label {
  padding-top: 5px;
  margin-bottom: 2px;
}
.test input {
  margin-left: 10px;
}

/*  Test Animation  */
.test-enter {
  height: 0px;
  overflow: hidden;
}
.test-enter-active {
  height: 356px;
  overflow: hidden;
  transition: height 300ms cubic-bezier(0.55, 0.19, 0.23, 0.89);
}
.test-exit {
  height: 356px;
}
.test-exit-active {
  height: 0px;
  overflow: hidden;
  transition: height 500ms cubic-bezier(0.55, 0.19, 0.23, 0.89);
}

/* Test Element */
.test-element-div {
  border-radius: 10px;
  margin-top: 20px;
}
.test-element {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Test Element animation */
.test-element-enter {
  height: 0px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}
.test-element-enter-active {
  overflow: hidden;
  height: 47px;
  background-color: rgba(80, 175, 80, 0.5);
  transition: all 300ms ease-in;
}
.test-element-exit {
  height: 47px;
  overflow: hidden;
  background-color: rgba(175, 80, 80, 0.5);
}
.test-element-exit-active {
  overflow: hidden;
  height: 0px;
  transition: all 300ms;
  background-color: rgba(0, 0, 0, 0);
}

/* Dropdown Component */
.dropdown-list-item:nth-child(odd) {
  background: #eee;
}

.dropdown-list-item:hover {
  background-color: #007bdd !important;
  color: #ffffff !important;
}

/*      FOOTER SECTION      */
.main-footer {
  margin-top: 20px;
  height: 150px;
}

/* Input Text component */
.input-text {
  width: 40%;
}

.input-text-Name {
  width: 20%;
  font-size: 20px;
}

.input-text-UserID {
  width: 20%;
}

/* RemoveElement component */
.remove-element-button {
  border-radius: 15px !important;
}

.remove-element-button-Test {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
}

/* AddElement Component */
.add-element-button {
  margin-left: 2%;
  border-radius: 15px !important;
}

.add-element-button-Test {
  background-color: #007bff;
  border-color: #007bff;
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin-left: 5%;
  color: #fff;
}

/* List CSS */
ul {
  list-style: none;
  padding-left: 2%;
}

li {
  max-height: 47px;
}
